@import url("fonts.css");

.firaSemiBold {
    -fx-font-family: 'firaSemiBold';
    -fx-font-size: 70px;
    -fx-font-weight: bold;
}

.navItem, .navItem:hover {
    -fx-font-family: 'Merriweather Light';
    -fx-font-size: 24px;
    -fx-border-color: transparent;
    -fx-underline: false;
}

.navItem:hover, .navItem:pressed {
    -fx-text-fill: #E63946;
}

#sideBar {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #457B9D;
    -fx-background-insets: 0 0 0 -2;
}