@import url("fonts.css");

.header {
    -fx-font-family: 'firaSemiBold';
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-family: "PTSerif Regular";
    -fx-font-size: 30px;
    -fx-text-fill: #201F1A;
}