@import url("style.css");
@import url("fonts.css");

.taskTitle{
    -fx-text-fill: #E63946;
    -fx-font-family: 'Fira Medium';
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-line-spacing: 5px;
}

.taskDesc{
    -fx-font-family: 'Merriweather Italic';
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-font-style: italic;
}

.btnDel{
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-padding: 0px;
    -fx-graphic: url("../images/close.png");
}

.task {
    -fx-effect: dropshadow(three-pass-box, rgba(69,123,157,0.26), 10, 0, 1, 2);
}