@import "fonts.css";

.backButton {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-text-fill: black;
    -fx-padding: 0px;
    -fx-graphic: url("../images/back-arrow.png");
}