@font-face {
    font-family: 'Merriweather Light';
    src: url("fonts/Merriweather-Light.ttf");
}

.navItem, .navItem:hover{
    -fx-font-family: 'Merriweather Light';
    -fx-font-size: 24px;
    -fx-border-color: transparent;
    -fx-underline: false;
}

.navItem:hover, .navItem:pressed {
    -fx-text-fill: #E63946;
}

